<div class="fsp-container">

    <h2 class="fsp-tittle">Fork Subscription Pricing</h2>

    <div class="fsp-offers-wrapper">
        <!-----1----->
        <div class="fsp-offers-wrapper__box fsp-o-w-b1">
            <div class="fsp-offers-wrapper__box__category1">
                <p>Students</p>
            </div>
            <p class="fsp-offers-wrapper__box__price">$29</p>
            <p class="fsp-offers-wrapper__box__period">per month</p>
            <img class="fsp-offers-wrapper__box__img" src="@img/section-price/sep.svg" alt="">
            <p class="fsp-offers-wrapper__box__addons1">Personal License</p>
            <button class="fsp-offers-wrapper__box__btn-purchase">purchase</button>
        </div>
        <!-----2----->
        <div class="fsp-offers-wrapper__box fsp-o-w-b2">
            <div class="fsp-offers-wrapper__box__category2 ">
                <p>professional</p>
            </div>
            <p class="fsp-offers-wrapper__box__price">$59</p>
            <p class="fsp-offers-wrapper__box__period">per month</p>
            <img class="fsp-offers-wrapper__box__img" src="@img/section-price/sep.svg" alt="">
            <p class="fsp-offers-wrapper__box__addons2">Professional License<br> Email Support</p>
            <button class="fsp-offers-wrapper__box__btn-purchase">purchase</button>
        </div>
        <!-----3----->
        <div class="fsp-offers-wrapper__box fsp-o-w-b3">
            <div class="fsp-offers-wrapper__box__category3">
                <p>agency</p>
            </div>
            <p class="fsp-offers-wrapper__box__price">$99</p>
            <p class="fsp-offers-wrapper__box__period">per month</p>
            <img class="fsp-offers-wrapper__box__img" src="@img/section-price/sep.svg" alt="">
            <p class="fsp-offers-wrapper__box__addons3">1-12 Team Members<br> Phone Support</p>
            <button class="fsp-offers-wrapper__box__btn-purchase">purchase</button>
        </div>
        <!-----4----->
        <div class="fsp-offers-wrapper__box fsp-o-w-b4">
            <div class="fsp-offers-wrapper__box__category4">
                <p>enterprise</p>
            </div>
            <p class="fsp-offers-wrapper__box__price">$159</p>
            <p class="fsp-offers-wrapper__box__period">per month</p>
            <img class="fsp-offers-wrapper__box__img" src="@img/section-price/sep.svg" alt="">
            <p class="fsp-offers-wrapper__box__addons4">Unlimited Team Members<br> 24/ 7 Phone Support</p>
            <button class="fsp-offers-wrapper__box__btn-purchase">purchase</button>
        </div>
    </div>
</div>