
<div class="container">
<div class="header-menu">
    <div class="img-logo">
        <a href="" class="h1"><img src="@img/fork-app/logo-hover%201.png" alt="">
      <h1>forkio</h1>
        </a>
    </div>
    <div class="header-text">
      <nav class="lol">
        <ul class="up-menu__item">
          <li class="pop"><a href="#" class="up-menu__link is-active " data-tab-name = "Akali-1">Overview</a></li>
          <li class="pop"><a href="#" class="up-menu__link" data-tab-name = "Akali-2">About Fork</a></li>
          <li class="pop"><a href="#" class="up-menu__link" data-tab-name = "Akali-3">Buying Options</a></li>
          <li class="pop"><a href="#" class="up-menu__link" data-tab-name = "Akali-4">Support</a></li>
        </ul>
      </nav>
        <a href="" class="up-menu__button">But Now</a>
        <div class="menu">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </div>
    </div>
  </div>
    <section>
        <div class="title-app">
            <h2 class="title-app__fork">
                Fork App
            </h2>
            <p class="title-app__text">
                A real gamechanger in the world of web development
            </p>
            <p class="title-app__commit">
                v. 2.8 For Mac and Windows
            </p>
        </div>
    </section>
</div>