<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/other.min.css">
    <link rel="stylesheet" href="css/revo-editor.min.css">
    <link rel="stylesheet" href="css/media-revo-editor.min.css">
    <link rel="stylesheet" href="css/here-is-what-you-get.min.css">
    <link rel="stylesheet" href="css/media-here-is-what-you-get.min.css">
    <link rel="stylesheet" href="css/fork-sub-price.min.css">
    <link rel="stylesheet" href="css/media-fork-sub-price.min.css">
    <link rel="stylesheet" href="css/header.min.css">
    <link rel="stylesheet" href="css/people.min.css">
    <link rel="stylesheet" href="css/media-header.min.css">
    <link rel="stylesheet" href="css/media-people.min.css">
    <title>StepPRJ-Forkio</title>
</head>