<div class="hiwyg-wrapper">
    <div class="hiwyg-wrapper__left-side">
        <!------1------>
        <div class="hiwyg-wrapper__left-side__boxes hiwyg-boxes-container">
            <img class="hiwyg-wrapper__left-side__boxes__img1" src="@img/section-hiwyg/icon1.svg" alt="">
            <div class="hiwyg-wrapper__left-side__boxes__text">
                <h3 class="hiwyg-wrapper__left-side__boxes__text__h3">
                    Creatred to Make The Web Better
                </h3>
                <p class="hiwyg-wrapper__left-side__boxes__text__p">
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id
                    metus id quam auctor molestie eget ut augue.
                </p>
            </div>
        </div>
        <!------2------>
        <div class="hiwyg-wrapper__left-side__boxes hiwyg-boxes-container">
            <img class="hiwyg-wrapper__left-side__boxes__img2" src="@img/section-hiwyg/icon2.svg" alt="">
            <div class="hiwyg-wrapper__left-side__boxes__text">
                <h3 class="hiwyg-wrapper__left-side__boxes__text__h3">
                    Incredibly Powerful Tool
                </h3>
                <p class="hiwyg-wrapper__left-side__boxes__text__p">
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat
                    ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
        <!------3------>
        <div class="hiwyg-wrapper__left-side__boxes hiwyg-boxes-container">
            <img class="hiwyg-wrapper__left-side__boxes__img3" src="@img/section-hiwyg/icon3.svg" alt="">
            <div class="hiwyg-wrapper__left-side__boxes__text">
                <h3 class="hiwyg-wrapper__left-side__boxes__text__h3">
                    Experimental Stuff
                </h3>
                <p class="hiwyg-wrapper__left-side__boxes__text__p">
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat
                    ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
        <!------4------>
        <div class="hiwyg-wrapper__left-side__boxes hiwyg-boxes-container">
            <img class="hiwyg-wrapper__left-side__boxes__img4" src="@img/section-hiwyg/icon4.svg" alt="">
            <div class="hiwyg-wrapper__left-side__boxes__text">
                <h3 class="hiwyg-wrapper__left-side__boxes__text__h3">
                    Creatred to Make The Web Better
                </h3>
                <p class="hiwyg-wrapper__left-side__boxes__text__p">
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat
                    ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="hiwyg-wrapper__right-box">
        <h2 class="hiwyg-wrapper__right-box__h2">Here is what you get</h2>
        <img class="hiwyg-wrapper__right-box__img" src="@img/section-hiwyg/editor.jpg" alt="">
        <img class="hiwyg-wrapper__right-box__img3" src="@img/section-hiwyg/editor3.jpg" alt="">
    </div>
</div>