<div class="people-container">
      <h2 class="h2">People Are Talking About Fork</h2>
    <div class="people__item">
                <div class="people__list">
                    <img src="@img/section-people/logo5%201.png" alt="">
                    <div class="people__text">
                        <p class="people__commit">Sed vestibulum scelerisque urna,
                        eu finibus leo facilisis sit amet.
                        Proin id dignissim magna.
                        Sed varius urna et pulvinar venenatis.
                    </p>
                    </div>
                </div>

                <div class="people__list">
                    <img src="@img/section-people/logo6%201.png" alt="">
                    <div class="people__text">
                       <p class="people__commit">
                           Donec euismod dolor ut ultricies consequat.
                        Vivamus urna ipsum, rhoncus molestie neque ac,
                        mollis eleifend nibh.
                        </p>
                </div>
                </div>

                <div class="people__list">
                    <img src="@img/section-people/logo7%201.png" alt="">
                    <div class="people__text">
                        <p class="people__commit">
                            In efficitur in velit et tempus.
                        Duis nec odio dapibus, suscipit erat fringilla,
                        imperdiet nibh. Morbi tempus auctor felis ac
                        vehicula.
                        </p>
                </div>
                </div>

                <div class="people__list">
                    <img src="@img/section-people/logo8%201.png" alt="">
                    <div class="people__text">
                        <p class="people__commit">
                            Sed vestibulum scelerisque urna,
                        eu finibus leo facilisis sit amet.
                        Proin id dignissim magna.
                        Sed varius urna et pulvinar venenatis.
                        </p>
                </div>
                </div>

                <div class="people__list">
                    <img src="@img/section-people/logo0%201.png" alt="">
                    <div class="people__text">
                       <p class="people__commit">
                           Praesent ut eros tristique, malesuada lectus vel,
                        lobortis massa. Nulla faucibus lorem id
                        arcu consequat faucibus.
                       </p>
                </div>
                </div>

                <div class="people__list">
                    <img src="@img/section-people/logo123%201.png" alt="">
                    <div class="people__text">
                       <p class="people__commit"> Fusce pharetra erat id odio blandit,
                        nec  pharetra eros venenatis.
                        Pellentesque porttitor cursus massa et vestibulum.
                        </p>
                </div>
                </div>
    </div>
        <p class="commit">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id,
            imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci.
            Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. </p>

</div>