.fsp-tittle {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 83px;
    ;
}

.fsp-offers-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
    padding-bottom: 130px;

    &__box {
        position: relative;
        width: 257px;
        height: 457px;
        background-color: rgba($color: #ffffff, $alpha: 0.11);
        border-radius: 10px;
        transition: width 1s, height 1s;

        &__category1,
        &__category2,
        &__category3,
        &__category4 {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 24px;
            padding: 36px 0px;
            text-transform: uppercase;
            background-color: rgba($color: #ffffff, $alpha: 0.06);
            position: relative;
            color: #FFFFFF;
            border-radius: 10px;
        }


        &__price {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 60px;
            color: #FFFFFF;
            margin-top: 10px;
        }

        &__period {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            text-transform: uppercase;
        }

        &__addons1,
        &__addons2,
        &__addons3,
        &__addons4 {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
        }

        &__addons1,
        &__addons2,
        &__addons3,
        &__addons4 {
            margin-top: 70px;
        }

        &__addons1 {
            margin-bottom: 45px;
            transition: margin-bottom 3s;
        }


        &__addons2,
        &__addons3,
        &__addons4 {
            margin-bottom: 20px;
            transition: margin-bottom 3s;
        }

        &__btn-purchase {
            background-color: rgba($color: #ffffff, $alpha: 0.15);
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            border-radius: 20px;
            border: none;
            width: 163px;
            height: 45px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.fsp-offers-wrapper__box>img {
    position: absolute;
    left: 96px;
    top: 260px;
}

.fsp-offers-wrapper__box:hover {
    width: 299px;
    height: 560px;
    background-color: rgba($color: #463048, $alpha: 0.84);
    position: relative;
    top: -50px;
}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__price {
    font-size: 82px;
}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__img {
    left: 116px;
    top: 290px;
}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__btn-purchase {
    width: 190px;
    height: 52px;

}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__addons1 {
    margin-bottom: 95px
}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__addons2 {
    margin-bottom: 70px
}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__addons3 {
    margin-bottom: 70px
}

.fsp-offers-wrapper__box:hover .fsp-offers-wrapper__box__addons4 {
    margin-bottom: 70px
}