.wrapper {
    background-image: url("@img/fork-app/img 1.png");
    //Для Бекграунда, поиграйся с ним немного
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    padding-top: 30px;
    @extend .header-menu;

    .h1 {
        display: flex;
        text-decoration: none;
    }

    h1 {
        padding-left: 17px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        /* or 67% */

        display: flex;
        align-items: center;
        text-transform: uppercase;

        color: #8D81AC;
    }
}

.header-text {
    @extend .header-menu;
    gap: 48px;
    padding-top: 30px;
}

.up-menu__item {
    display: flex;
    gap: 48px;

    .up-menu__link {
        color: #8D81AC;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {
            color: white;
        }

    }
}

.up-menu__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #8D81AC;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 35px;
    border: 1px solid #8D81AC;

    &:hover {
        background-color: white;
        color: #8D81AC;
    }
}

.title-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 19px;

    &__fork {
        padding-top: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 82px;
        line-height: 82px;
        /* or 100% */

        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }

    &__text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        /* or 100% */

        display: flex;
        align-items: center;
        text-align: center;

        color: #8D81AC;
    }

    &__commit {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* or 100% */

        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #848E97;
        padding-bottom: 459px;
    }
}