.hiwyg-wrapper__left-side__boxes {
    display: flex;
    margin-bottom: 35px;
    position: relative;
    margin-top: 20px;

    &__img1,
    &__img2,
    &__img3,
    &__img4 {
        position: absolute;
    }

    &__img3 {
        left: 13px;
    }

    &__img4 {
        left: 8px;
    }

    &__text {
        padding-left: 134px;

        &__h3 {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            color: #323232;
            margin-bottom: 17px;
        }

        &__p {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #848E97;
        }
    }
}

.hiwyg-wrapper__right-box {
    &__h2 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 48px;
        color: #8D81AC;
        padding-right: 83px;
        margin-bottom: 20px;
    }

    &__h2::after {
        content: ">";
    }

    &__h2::before {
        content: "<";
    }

    &__img {
        max-width: 100%;
        border-radius: 20px;
    }

    &__img3 {
        border-radius: 20px;
        display: none;
    }
}