@media screen and (max-width: 1300px) {
  .wrapper-people{
    background-size: cover;
    background-repeat: repeat;
    background-image: url("@img/section-people/Layer 1.png");
  }
  .people-container{
    max-width: 768px;
    }
  .h2{
    padding-top: 86px;
    padding-bottom: 88px;
    font-size: 42px;
    line-height: 44px;
  }
  .people__item{
    grid-template-columns: repeat(2, 1fr);
    gap: 81px;
    padding: 0 3px 0 3px;
  }

.commit{
  max-width: 90%;
  padding-top: 68px;

&::after {
  width: 555px;

}
}
}
@media screen and (max-width: 750px) {
  .wrapper-people{
    background-size:cover;
    background-repeat: repeat;
    background-image: url("@img/section-people/Layer 2.png");
  }
  .people-container{
    max-width: 320px;
  }
  .h2{
    padding-top: 57px;
    padding-bottom: 53px;
    font-size: 36px;
    line-height: 48px;
  }
  .people__item{
   display: block;
  }
  .people__list{
    padding-bottom: 45px;
    img{
      padding-bottom: 33px;
    }
  }
.people__list:last-child{
  padding-bottom: 0;
}
  .commit{
    max-width: 90%;
    padding-top: 37px;

    &::after {
      width: 245px;

    }
  }
}