@media screen and (max-width: 1300px) {
    .revo-edit-container {
        width: 720px;
    }

    .revo-edit__btn-download {
        left: 180px;

    }
}

//---320px---

@media screen and (max-width: 750px) {
    .revo-edit-container {
        width: 320px;
    }

    .revo-edit__btn-download {
        left: 15px;
        top: -25px;
        font-size: 18px;
        width: 290px;
        height: 45px;
    }

    .revo-edit__box-main__tittle {
        font-size: 26px;
        margin-bottom: 27px;
    }

    .revo-edit__box-main__description {
        font-size: 14px;
    }

    .rewiew-btn-wrapper {
        flex-wrap: wrap;
        width: 300px;
        justify-content: center;

    }

    .rewiew-btn-wrapper__box:nth-child(2) {
        margin-left: 10px;
    }

    .rewiew-btn-wrapper__box:nth-child(3) {
        margin-top: 20px;
    }
}