@media screen and (max-width: 1300px) {
    .here-is-what-you-get {
        background-color: rgba($color: #ffffff, $alpha: 0.0001);
    }

    .hiwyg-wrapper {
        width: 768px;
        margin: 0 auto;
        padding-left: 31px;
        padding-top: 150px;
    }

    .hiwyg-boxes-container {
        width: 700px;
    }

    .hiwyg-wrapper {
        display: block;
    }

    .hiwyg-wrapper__right-box {
        position: relative;
    }

    .hiwyg-wrapper__right-box__h2 {
        font-size: 42px;
        position: absolute;
        top: -650px;
        left: 95px;
    }
}

@media screen and (max-width: 750px) {
    .hiwyg-wrapper {
        padding-left: 15px;
        width: 300px;
    }

    .hiwyg-wrapper__right-box__h2 {
        font-size: 32px;
        text-align: center;
        padding-right: 0px;
        top: -1300px;
        left: 0px;
    }

    .hiwyg-boxes-container {
        width: 280px;
    }

    .hiwyg-wrapper__left-side__boxes {
        display: block;
        text-align: center;
    }

    .hiwyg-wrapper__left-side__boxes__text {
        padding: 0px;
    }

    .hiwyg-wrapper__left-side__boxes__img1,
    .hiwyg-wrapper__left-side__boxes__img2,
    .hiwyg-wrapper__left-side__boxes__img3,
    .hiwyg-wrapper__left-side__boxes__img4 {
        position: relative;
        left: 100px;
        margin-bottom: 23px;
    }

    .hiwyg-wrapper__right-box__img3 {
        display: block;
    }

    .hiwyg-wrapper__right-box__img {
        display: none;
    }
}