@media screen and (max-width: 1300px) {
    .fsp-container {
        width: 600px;
    }

    .fork-sub-price {
        background-image: url("@img/section-price/sub-bg-768px.jpg");
        background-repeat: repeat;
    }

    .fsp-tittle {
        font-size: 42px;
    }

    .fsp-offers-wrapper {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .fsp-o-w-b1,
    .fsp-o-w-b2 {
        margin-bottom: 71px;
    }

    .fsp-offers-wrapper__box:nth-child(1):hover {
        left: -30px;
    }

    .fsp-offers-wrapper__box:nth-child(3):hover {
        left: -30px;
    }

    .fsp-offers-wrapper__box:nth-child(2):hover {
        right: -30px;
    }

    .fsp-offers-wrapper__box:nth-child(4):hover {
        right: -30px;
    }

}

@media screen and (max-width: 750px) {
    .fork-sub-price {
        background-image: url("@img/section-price/sub-bg-320px.jpg");
        background-repeat: repeat;
    }

    .fsp-container {
        width: 320px;

    }

    .fsp-tittle {
        font-size: 28px;
    }

    .fsp-offers-wrapper {
        flex-wrap: wrap;
    }

    .fsp-o-w-b4 {
        margin-top: 71px;
    }

    .fsp-offers-wrapper__box:nth-child(1):hover {
        left: -10px;
    }

    .fsp-offers-wrapper__box:nth-child(3):hover {
        left: -10px;
    }

    .fsp-offers-wrapper__box:nth-child(2):hover {
        right: 10px;
    }

    .fsp-offers-wrapper__box:nth-child(4):hover {
        right: 10px;
    }
}