@media screen and (max-width: 1300px){
  .wrapper{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 686px;
  }
  .menu-up{
    box-sizing: border-box;
    border: 1px ;
    height: 118px;
background: #27262A;


  }
  .container{
    max-width: 768px;
  }

  .img-logo {
    padding-top: 22px;
  }

  .header-text{
    padding-top: 22px;
    position: relative;
  }
.up-menu__item{
  position: absolute;
  left: -420px;
  bottom: -40px;
  gap: 47px;
}
  .up-menu__button{
    padding: 10px 25px;
  }

  .title-app{
      padding-top: 69px;
    &__fork{
      font-size: 72px;
      line-height: 72px;
    }
    &__text{
      font-size: 24px;
      line-height: 24px;
    }
    .title-app__commit{
      font-size: 14px;
      line-height: 14px;
    }
  }
  }

@media screen and (max-width: 750px) {
  .wrapper{

    background-size: cover;
    background-repeat: repeat;
    text-align: center;
  }
  .menu-up {
    height: 103px;
  }
  .container{
    max-width: 320px;
  }
  .img-logo {
    padding-top: 32px;
    h1{
      display: none;
    }
  }
  .header-text{
    padding-top: 32px;
    position: relative;
  }
  .up-menu__item.active {
    transform: translateX(0);
    opacity: 1;
  }
  .up-menu__item {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    background-color: #333333;
    padding-top: 0;
    gap: 0;
    left: 10px;
    top: 97px;
    bottom: -355px;
    //bottom: 97px;
    right: 0;
    transform: translateY(-10%);
    transition: transform 0.5s;
    opacity: 0;
  }
  .up-menu__link.is-active{
    position: relative;
    color: #8D81AC;
  }
  .up-menu__link.is-active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 53px;
    border-left: 8px solid #8D81AC;
  }
  .up-menu__link{
    color: white;
    display: block;
    padding: 0 128px 21px 39px;
    border-bottom: 3px solid dimgrey;
    margin: 29px 0 14px 0;
      }

  .menu{
    width: 26px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .menu:hover .menu-line:nth-of-type(1),
  .menu:hover .menu-line:nth-of-type(3){
    transition: width 500ms ease;
    width: 100%;
  }
  .menu-line{
    width: 100%;
    height: 3px;
    margin-bottom: 7px;
    background-color: white;
  }
  .menu-line:nth-of-type(1){
    transform: rotateX(-100%);
    width:15px;
  }
  .menu-line:nth-of-type(3) {
    margin-bottom: 0;
  }
  .menu.active .menu-line:nth-of-type(1) {
    transform: rotate(45deg) translate(8px, 4px);
    width: 100%;
    transition: transform 300ms ease;
  }
  .menu.active .menu-line:nth-of-type(2) {
    transform: rotate(-45deg) translate(3px, 1px);
    transition: transform 300ms ease;
  }
  .menu.active .menu-line:nth-of-type(3) {
    display: none;
  }
  .title-app{
    &__fork{
      padding-top: 50px;
      font-size: 48px;
      line-height: 48px;
    }
    &__text{
      width: 250px;
      font-size: 18px;
      text-transform: capitalize;
          }
    &__commit{
      font-size: 14px;
      line-height: 14px;
    }
  }
}