//----Revolution-Editor----

.revo-edit-container {
    width: 900px;
    padding: 0px 15px;
    margin: 0px auto;
    text-align: center;
    position: relative;
}

.revolutionary-editor {
    background-color: #FFFFFF;
}

//-----------------------

//----Here-is-what-you-get----

.hiwyg-wrapper {
    padding-top: 95px;
    display: flex;
    width: 1380px;
    padding-left: 90px;
    margin: 0 auto;
}

.here-is-what-you-get {
    background-color: #F4F4F4;
}

.hiwyg-boxes-container {
    width: 525px;
    margin-right: 50px;
}

//-----------------------

//----Fork-Subscription-Pricing----

.fork-sub-price {
    background-image: url("@img/section-price/sub-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.fsp-container {
    width: 1150px;
    padding: 0px 15px;
    margin: 0px auto;
    text-align: center;
}
//-----------------------

//----------Fork-App
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;

}
//--------------

//----------people
.people-container{
    padding: 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
}