.wrapper-people{
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("@img/section-people/testmonials-bg 1.png");
}

.h2{
  padding-top: 108px;
  padding-bottom: 84px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.people__item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;

.people__list {
  gap: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  .people__text{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }
}

.commit{
  padding-top: 118px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */

  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: #A291A5;
  max-width: 75%;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    bottom: -18px;
    border-bottom: 1px solid #645766;
    width: 780px;
  }
}