.revo-edit {

    &__btn-download {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 21px;
        color: #fff;
        width: 390px;
        height: 62px;
        background-color: #8D81AC;
        border: 2px solid #8D81AC;
        border-radius: 40px;
        cursor: pointer;
        position: absolute;
        top: -35px;
        left: 265px;
        transition: background-color 0.5s;
    }

    &__description-text-btn {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: #848E97;
        padding-top: 48px;
        margin-bottom: 66px;
    }

    &__box-main {
        &__tittle {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 54px;
            color: #635C73;
            text-transform: uppercase;

        }

        &__description {
            font-family: 'Lato';
            font-weight: 400;
            font-size: 21px;
            color: #323232;
        }
    }

}

.revo-edit__btn-download:hover {
    color: #8D81AC;
    background-color: white;
}

.rewiew-btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 70px;

    &__box {
        display: flex;
        border: 1px solid #96989a;
        border-radius: 5px;

    }

    &__box>a {
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        color: black;
        padding: 5px 12px 5px 10px;
        background-color: rgb(229, 227, 227);
        border-right: 1px solid #96989a;
    }

    &__box>a>svg {
        margin-right: 3px;
    }

    &__box>span {
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        color: black;
        padding: 3px 5px;
    }
}